<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DriverToUse" value="Chrome" />
    <add key="TargetUrl" value="https://www.auden.co.uk/Credit/ShortTermLoan" />
    <add key="ImplicitlyWait" value="30" />
    <add key="PageLoadTimeout" value="60" />
    <add key="MinimumLoanAmount" value="200" />
    <add key="MaximumLoanAmount" value="1000" />
    <add key="RepaymentDate" value="20" />
  </appSettings>
</configuration>